.game__cactus {
  position: absolute;
  width: 20px;
  height: 50px;
  bottom: 20%;
  left: 100%;
  background-image: url("../images/cactus.png");
  background-size: 100%;
}

.game__cactus.is-moving {
  animation: cactus-move 10s linear;
}
