.start {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  width: 150px;
  height: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.2em;
  letter-spacing: 2px;

  @media (max-width: 600px) {
    width: 100px;
  }
}

.game__score {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.game__life {
  position: absolute;
  bottom: 10px;
  left: 45%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.5em;
}
