.start {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  width: 150px;
  height: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.game__score {
  position: absolute;
  right: 10px;
  bottom: 15px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
